<div fxLayout="column wrap" fxLayoutAlign="center center">

  <section fxFlexAlign="center">
    <div class="timer" fxLayout="column wrap" fxLayoutAlign="center center">
      <h1 class="digital">
        {{ hours }}
        <span>:</span>
        {{ minutes }}
        <span>:</span>
        {{ seconds }}
      </h1>
    </div>
    <div class="controls">
      <button class="btn" (click)="onStart()"><i class="fa fa-play" aria-hidden="true"></i>Start/Stop</button>
      <button class="btn" (dblclick)="onWait()"><i class="fa fa-pause" aria-hidden="true"></i>Wait</button>
      <button class="btn" (click)="onReset()"><i class="fa fa-stop" aria-hidden="true"></i>Reset</button>
    </div>
  </section>

</div>
